:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --third--text--color: #757575;
  --dark-text-color: #000000;
  --accent-text-color: #2196f3;
  --main-bg-cl: #2f303a;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;

  --items: 3;
  --indent: 30px;
}
body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

/* base styles */
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}
.header__logo .header__colortext {
  color: var(--accent-text-color);
}
.header__nav {
  margin-left: 93px;
}
.header__menu {
  display: flex;
  gap: 50px;
}
.header__menu__item {
  position: relative;
}
.header__menu__item .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.header__menu__item .link:hover,
.header__menu__item .link:focus {
  color: var(--accent-text-color);
}
.header__menu__item .current::after {
  content: '';

  width: 100%;
  height: 4px;

  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--accent-text-color);
  border-radius: 2px;
}
.header__menu__item .current {
  color: var(--accent-text-color);
}
.header__contacts {
  display: flex;
  gap: 50px;

  margin-left: auto;
}
.header__contacts__item .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third--text--color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.header__contacts__item .link:hover,
.header__contacts__item .link:focus {
  color: var(--accent-text-color);
}
.header__contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* main */
.hero {
  padding: 200px 0;
  background-color: var(--main-bg-cl);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/back/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.hero__button__open {
  display: block;
  margin: 0 auto;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.hero__button__open:hover,
.hero__button__open:focus {
  background-color: #188ce8;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--secondary-text-color);

  transition: transform var(--duration) ease-in var(--duration),
    opacity var(--duration) ease-in var(--duration);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}
.modal__button__close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.modal__button__close:hover,
.modal__button__close:focus {
  color: var(--accent-text-color);
}
.modal__close__icon {
  fill: currentColor;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.modal__label {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third--text--color);
  margin-bottom: 4px;
}
.modal__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal__wrapper:last-of-type {
  margin-bottom: 20px;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--duration) var(--timing-function);
}
.modal__input:focus {
  border-color: var(--accent-text-color);
}
.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  fill: currentColor;

  transition: fill var(--duration) var(--timing-function);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}
.modal__comment {
  display: block;

  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  transition: border var(--duration) var(--timing-function);
}
.modal__comment:focus {
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
}
.modal__comment::placeholder {
  color: currentColor;
}
.modal__checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
  margin-bottom: 30px;
}
.modal__checkbox__input {
  appearance: none;
  width: 17px;
  height: 16px;

  border: 2px solid var(--dark-text-color);
  border-radius: 2px;
  margin-right: 8px;
}
.modal__checkbox__input:checked {
  background-color: var(--accent-text-color);
  border: transparent;
}
.modal__checkbox__title {
  position: absolute;
  top: 440px;
  left: 60px;
}
.modal__checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-text-color);
  margin-left: 4px;
}
.modal__send__button {
  display: block;

  margin: 0 auto;

  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.modal__send__button:hover,
.modal__send__button:focus {
  background-color: #188ce8;
}

.benefits__menu {
  display: flex;
  gap: 30px;
}
.benefits__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4f4;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
}
.activity {
  padding-top: 0;
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.activity__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.activity__thumb {
  position: relative;
}
.activity__text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.team {
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.team__galary {
  display: flex;
  gap: 30px;
}
.team__item {
  width: 270px;

  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper {
  padding: 30px 0;
}
.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.team__position {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: var(--third--text--color);
}
.team__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--secondary-text-color);
  color: #afb1b8;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.team__social__link:hover,
.team__social__link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
}
.team__social__icon {
  fill: currentColor;
}
.clients__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.clients__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.clients__icon {
  fill: currentColor;
}
.clients__icon:hover,
.clients__icon:focus {
  fill: currentColor;
}

/* main portfolio */
.filter__galary {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter__button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.filter__button:hover,
.filter__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project__galary {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project__item {
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__essence {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.project__item:hover .project__essence {
  transform: translateY(0);
}
.project__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.project__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: var(--main-bg-cl);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.footer-logo .colortext-other {
  color: var(--secondary-text-color);
}
.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.footer-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts .link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third--text--color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-text-color);
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  margin-left: 70px;
}
.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}
.footer-social-icon {
  fill: var(--secondary-text-color);
}
.subscript {
  margin-left: 93px;
}
.subscript-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.subscript-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.subscript-form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-cl);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.subscript-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
}
.subscript-icon {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}
