$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

$mainTextColor: #212121;
$secondaryTextColor: #ffffff;
$thirdTextColor: #757575;
$darkTextColor: #000000;
$accentTextColor: #2196f3;
$mainBgCl: #2f303a;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;